<div class="container">

  <h2 class="text-center col-sm-7">Log In for Doctor</h2>
  <div class="clearfix"></div>
  <%= simple_form_for @doctor_session, html: { class: 'form-horizontal' }, wrapper: :horizontal_input_group do |f| %>

    <div class="form-inputs">

      <%= f.input :aadhar_number, required: false %>
      <%= f.input :password, required: false %>

      <%= f.error :base, class: 'col-sm-offset-2' %>

      <div class="form-actions col-sm-offset-2">
        <%= f.button :submit, "Log In", class: 'btn-lg' %>
      </div>

    </div>
  <% end %>
</div>
